<ion-header>
  <ion-toolbar>
    <ion-title>Contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="box" padding>

  <ion-grid>
    <ion-row>
      <ion-col>

      </ion-col>
      <ion-col>

        <h3 id="contactText" size="small">Le bateau de Thibault </h3>

        <ion-img id="imgStyle" src="../../assets/TIG.png"></ion-img>


        <ion-text id="contactText">06 63 99 99 78 <br>
          lebateaudethibault@gmail.com <br>
          www.facebook.com/lebateaudethibault
        </ion-text>
       
      </ion-col>
      <ion-col>

      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
