<ion-header>
  <ion-toolbar>
      <div class="container">
          <div class="row">
              <div class="col-sm-4" style="text-align: left; vertical-align: center;" >
                      <img src="./../assets/images/lehigh-logo.svg" class="topLogo"/>
              </div>
              <div class="col-sm-4" style="text-align: center; vertical-align: center;" >
                  <h3>EMS PRO</h3>
              </div>
              <div class="col-sm-4" style="text-align: right; vertical-align: center;" >

              </div>
          </div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

      <ion-item button *ngFor="let item of data" [routerLink]="['/', item.itemPage]">
          <ion-icon slot="start" *ngIf="item.icon != ''" name="{{ item.icon }}}"></ion-icon>

          <ion-label text-wrap>
              <h3>{{ item.name }}</h3>
          </ion-label>


      </ion-item>

  </ion-list>
  
</ion-content>