<ion-header>
  <ion-toolbar>
    <ion-title>
      {{recetteName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p>
    Plus d'informations pour {{ recette.name }}
  </p>
  
  <ion-list>
    <ion-item ion-item *ngFor="let recette of recettesList" (click)="onLoadRecette(recette)">
      <button>
        <ion-icon name="power" [color]="appareil.isOn? 'secondary' : 'danger'"></ion-icon>
        <ion-label>
          {{recette.name}}
        </ion-label>
        <ion-label>
          {{recette.description}}
        </ion-label>
        <img src=  {{recette.image}}>
      </button>
    </ion-item>
  </ion-list>
  
  </ion-content>
  